footer {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  gap: 5px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.feather-github,
.feather-linkedin {
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
  transition: all 0.25s ease;
	cursor: pointer;
}

.feather-github:hover,
.feather-linkedin:hover {
  transform: rotate(360deg) scale(1.2);
	stroke: #e33434da;
}

@media only screen and (max-width: 834px) {
  footer {
    font-size: 1.6rem;
  }
}
