footer {
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  gap: 5px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.feather-github,
.feather-linkedin {
	color: white;
  transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.feather-github:hover,
.feather-linkedin:hover {
  transform: rotate(360deg) scale(1.2);
}

@media only screen and (max-width: 834px) {
  footer {
    font-size: 1.6rem;
  }
}
