:root {
	--tab-font-size: 2rem;
	--tab-font-size-mobile: 1.5rem;
	--aroma-font-size: 6rem;
	--aroma-font-size-mobile: 3rem;
	--header-box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 0.7);
	--header-transition: color 0.25s ease;
}

.active {
	color: var(--red);
}

header {
  width: 100vw;
  color: var(--font-color);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: var(--header-box-shadow);
  -webkit-box-shadow: var(--header-box-shadow);
  -moz-box-shadow: var(--header-box-shadow);

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 2;
}

header ul {
  list-style: none;
  font-size: var(--tab-font-size);
  padding: 32px;

  display: flex;
  align-items: center;
  gap: 0 3rem;
}

header li {
  font-family: var(--font-family);
  color: var(--font-color);
	cursor: pointer;
  position: relative;
}

header li {
	-webkit-transition: var(--header-transition);
	-moz-transition: var(--header-transition);
	-o-transition: var(--header-transition);
	transition: var(--header-transition);
}

header li:hover {
	color: var(--red);
}

#rest-name {
  font-family: "Alexandra", var(--font-family);
  font-size: var(--aroma-font-size);
	filter: drop-shadow(0 0 10px var(--red));
}

@media only screen and (max-width: 834px) {
  header ul {
    font-size: var(--tab-font-size-mobile);
    gap: 0 1rem;
  }

  #rest-name {
    font-size: var(--aroma-font-size-mobile);
  }
}
