header {
  color: rgb(245, 245, 245);

	display: flex;
	align-items: center;

  position: fixed;
  top: 0;
	z-index: 2;
}

header ul {
  list-style: none;
  font-size: 1.8rem;
	padding: 32px;

	display: flex;
	align-items: center;
	gap: 3rem;
	
}

header li {
	font-family: "Nesans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	cursor: pointer;
}

.name {
	font-family: "Alexandra", Verdana, Tahoma, sans-serif;
	font-size: clamp(4vw, 5.5vw, 7vw);
	margin-left: 14px;
}

@media only screen and (max-width: 834px) {
	header ul {
		font-size: 1.5rem;
		gap: 1rem;
	}
	
	.name {
		font-size: 10vw;
	}
}