.img-text-cont {
	margin-left: 10vw;
}

.restaurant-name {
	font-family: "Sandrina", "England", Verdana, Tahoma, sans-serif;
	color: var(--font-color);
	font-size: var(--font-size);
}

@media only screen and (max-width: 834px) {

	.restaurant-name {
		font-size: var(--mobile-font-size);
	}
}