:root {
  --home-transition: all 0.25s ease;
	--button-font-size: 2rem;
	--tagline-font-size: 4rem;
	--tagline-font-size-mobile: 3.4rem;
}

#img-text-cont {
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#menu-button {
  background-color: transparent;
  width: 12rem;
  height: 3rem;
  font-size: var(--button-font-size);
  border: 1px solid var(--font-color);
  border-radius: 6px;
  margin-top: 2vh;
  cursor: pointer;

  -webkit-transition: var(--home-transition);
  -moz-transition: var(--home-transition);
  -o-transition: var(--home-transition);
  transition: var(--home-transition);
}

#menu-button:hover {
  color: var(--red);
  border: 2px solid var(--red);
}

#menu-button,
#tagline {
  font-family: var(--font-family);
  color: var(--font-color);
}

#tagline {
  font-size: var(--tagline-font-size);
}

@media only screen and (max-width: 834px) {
  #menu-button {
    width: 12rem;
  }

  #tagline {
    font-size: var(--tagline-font-size-mobile);
  }
}
